<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/tables.css">
  <title>Products</title>
</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="/products"><span class="glyphicon glyphicon-shopping-cart"></span> Products</a></li>
        <li><a href="/sellers"><span class="glyphicon glyphicon-user"></span> Sellers</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/categories"><span class="glyphicon glyphicon-th-list"></span> Categories</a></li>
        <li><a href="/user/logout"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
        <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Home</a></li>
        <li><a href="/shipment"><span class="glyphicon glyphicon-globe"></span> shipment</a></li>
      </ul>
    </div>
  </nav>

  <div class="the-body">
    <%- body %>
  </div>


  <!--
  edit html
-->
  <div class="the-edit">
    <!--
    <h2>Enter the Details of the Selected Product</h2>
    <form action="/products/edit" method="post">
      <div>
        <div>
          <label for="ProductName">ProductName</label>
        </div>
        <div>
          <input type="text" id="ProductName" name="ProductName" required value="">
          <input type="text" id="ProductID" name="ProductID" value="">
        </div>
      </div>
      <div>
        <div>
          <label for="Unit">Unit</label>
        </div>
        <div>
          <input type="text" id="Unit" name="Unit" required value="">
        </div>
      </div>
      <div>
        <div>
          <label for="Price">Price</label>
        </div>
        <div>
          <input type="text" id="Price" name="Price" required value="">
        </div>
      </div>
      <label for="selectCategory">Category:</label><br>
      <select name="selectCategory" id="selectCategory">
        <option value="select">--Select--</option>
        <div class='categorydropdown'>

        </div>
      </select>
      <div class="error">
        <p></p>
      </div>
      <button class="submit" type="button">Confirm Edit</button>
      <a href="/products"><button type="button">Cancel</button></a>
    </form> -->
  </div>

  <script type="text/javascript">
    $(document).ready(function () {
      //$('.the-edit').hide();
      $('.editbuttonfromproducts').click(function () {
        $('.the-body').hide();
        //$('.the-edit').show();
        $.ajax({
          url: '/products/edit',
          type: 'GET',
          dataType: 'json',
          success: function (result) {
            alert('Entering into success function!!');
            if (result.msg === 'success') {
              var hypertext = `
              <h2>Enter the Details of the Selected Product</h2>
              <form action="/products/edit" method="post">
                <div>
                  <div>
                    <label for="ProductName">ProductName</label>
                  </div>
                  <div>
                    <input type="text" id="ProductName" name="ProductName" required value="">
                    <input type="text" id="ProductID" name="ProductID" value="">
                  </div>
                </div>
                <div>
                  <div>
                    <label for="Unit">Unit</label>
                  </div>
                  <div>
                    <input type="text" id="Unit" name="Unit" required value="">
                  </div>
                </div>
                <div>
                  <div>
                    <label for="Price">Price</label>
                  </div>
                  <div>
                    <input type="text" id="Price" name="Price" required value="">
                  </div>
                </div>
                <label for="selectCategory">Category:</label><br>
                <select name="selectCategory" id="selectCategory">
                  <option value="select">--Select--</option>
                  <div class='categorydropdown'>

                  </div>
                </select>
                <div class="error">
                  <p></p>
                </div>
                <button class="submit" type="button">Confirm Edit</button>
                <a href="/products"><button type="button">Cancel</button></a>
              </form>
              `;
              alert('success from server');
              //top.location.href='/products/edit';
              $('.the-edit').html(JSON);
              //$('.the-edit').html(hypertext);
              alert('its over the html');/*
              $("input[name='ProductName']").val(result.data[0].ProductName);
              $("input[name='ProductID']").val(result.data[0].ProductID);
              $("input[name='Unit']").val(result.data[0].Unit);
              $("input[name='Price']").val(result.data[0].Price);*/
              $("input[name='ProductID']").hide();
            }
            else {
              alert('Not success!');
            }
          },
          error: function (err) {
            alert('not entered into success function, its an error:' + typeof (err));
            console.log(err);
          }
        });
        $('.submit').click(function () {
          var productname = $("input[name='ProductName']").val();
          var productid = $("input[name='ProductID']").val();
          var unit = $("input[name='Unit']").val();
          var price = $("input[name='Price']").val();
          var selectedcategory = $("select[name='selectCategory']").val();
          $.ajax({
            url: '/products/edit',
            type: 'POST',
            data: {
              ProductName: productname,
              ProductID: productid,
              Unit: unit,
              Price: price,
              selectedCategory: selectedcategory
            },
            success: function (result) {
              if (result.msg == 'success') {
                location.href = '/products';
              }
            }
          });
        });
      });

    });
  </script>


</body>

</html>