<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/tables.css">
    <title>Category</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li><a href="/products"><span class="glyphicon glyphicon-shopping-cart"></span> Products</a></li>
            <li><a href="/sellers"><span class="glyphicon glyphicon-user"></span> Sellers</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/categories"><span class="glyphicon glyphicon-th-list"></span> Categories</a></li>
            <li><a href="/user/logout"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
            <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Home</a></li>
          </ul>
        </div>
    </nav>
    <div class="container">
        <table>
            <tr>
                <th>Categories</th>
                <th>Actions</th>
            </tr>
            <% for(var i = 0; i < categorylist.length ; i++){ %>
            <tr>
                <td><%= categorylist[i]['name'] %></td>
                <td>
                    <a href="/categories/viewcategory?category_id=<%= categorylist[i]['id'] %>"><button type="button">View</button></a>
                </td>
            </tr>
            <% } %>
        </table>
    </div>
    

</body>
</html>