<h2>Enter the Details of the Selected Product</h2>
<form action="/products/edit" method="post">
    <div>
        <div>
            <label for="ProductName">ProductName</label>
        </div>
        <div>
            <input type="text" id="ProductName" name="ProductName" required value="">
            <input type="text" id="ProductID" name="ProductID" value="<%= id %>">
        </div>
    </div>
    <div>
        <div>
            <label for="Unit">Unit</label>
        </div>
        <div>
            <input type="text" id="Unit" name="Unit" required value="">
        </div>
    </div>
    <div>
        <div>
            <label for="Price">Price</label>
        </div>
        <div>
            <input type="text" id="Price" name="Price" required value="">
        </div>
    </div>
    <label for="selectCategory">Category:</label><br>
    <select name="selectCategory" id="selectCategory">
        <option value="select">--Select--</option>
    </select>
    <div class="error">
        <p></p>
    </div>
    <button class="submit" type="button">Confirm Edit</button>
    <a href="/products"><button type="button">Cancel</button></a>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        var id = $("input[name='ProductID']").val();
        $.ajax({
            url: '/products/editproductgetid',
            type: 'POST',
            data:{
                id:id
            },
            dataType:'json',
            success: function (result) {
                if (result.msg === 'success') {
                    $("input[name='ProductName']").val(result.data[0]['ProductName']);
                    $("input[name='ProductID']").val(result.data[0]['ProductID']);
                    $("input[name='Unit']").val(result.data[0]['Unit']);
                    $("input[name='Price']").val(result.data[0]['Price']);
                    $("input[name='ProductID']").hide();
                    $.each(result.categorylist,function(key,value){
                        $('#selectCategory').append('<option value="'+value.name+'">'+value.name+'</option>');
                        console.log(value.name);
                    });
                }
                else {
                    alert('Not success!');
                }
            },
            error: function (err) {
                alert(typeof (err));
                console.log(err);
            }
        });
        $('.submit').click(function () {
            var productname = $("input[name='ProductName']").val();
            var productid = $("input[name='ProductID']").val();
            var unit = $("input[name='Unit']").val();
            var price = $("input[name='Price']").val();
            var selectedcategory = $("#selectCategory option:selected").val();
            //alert(selectedcategory);
            $.ajax({
                url: '/products/editproduct',
                type: 'POST',
                data: {
                    ProductName: productname,
                    ProductID: productid,
                    Unit: unit,
                    Price: price,
                    selectedCategory: selectedcategory
                },
                success: function (result) {
                    if (result.msg == 'success') {
                        location.href = '/products';
                    }
                }
            });
        });
    });
</script>