
<h1>Forgot Password? Try setting up a new one!!!</h1>
<p>Please Enter Your e-mail to send verification code</p>
<form class="passwordcheck" action="/user/forgotpassword" method="post">
    <div>
        <label for="email">Email</label><br>
        <input type="email" id="email" name="email" required>
    </div>
    <p id="success"></p>
    <button class="submit" type="button">Submit</button>
</form>

<script type="text/javascript">
    $(document).ready(function(){
        $('#success').hide();
        $('button').click(function(){
            var email = $("input[name='email']").val();
            $.ajax({
                url: '/user/forgotpassword',
                type: "POST",
                data:{
                    email: email
                },
                dataType:'json',
                success: function(result){
                    $('#success').show();
                    $('#success').text(result.msg).css("color","black");
                }
            });
        });
    });
</script>
