<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgotpassword</title>
</head>
<body>
    <h2>Forgot Password? Try setting up a new one!!!</h2>
    <form action="/forgotpassword" method="post">
        <div>
            <label for="email">email</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="newpassword">NewPassword</label>
            <input type="password" id="newpassword" name="newpassword" required>
        </div>
        <div>
            <label for="againnewpassword">Enter Again</label>
            <input type="password" id="againnewpassword" name="againnewpassword" required>
        </div>
        <% if(message){ %>
        <h3><%=message %></h3>
        <% } %>
        <button type="submit">Submit</button>
    </form>
</body>
</html>