<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/register.css">
    <title>forgotpassword</title>
</head>

<body>
    <h1>Forgot Password? Try setting up a new one!!!</h1>
    <p>Please Enter Your e-mail to send verification code</p>
    <form class="passwordcheck" action="/user/forgotpassword" method="post">
        <div>
            <label for="email">Email</label><br>
            <input type="email" id="email" name="email" required>
        </div>
        <p id="success"></p>
        <button class="submit" type="button">Submit</button>
    </form>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#success').hide();
            $('button').click(function(){
                var email = $("input[name='email']").val();
                $.ajax({
                    url: '/user/forgotpassword',
                    type: "POST",
                    data:{
                        email: email
                    },
                    dataType:'json',
                    success: function(result){
                        $('#success').show();
                        $('#success').text(result.msg).css("color","black");
                    }
                });
            });
        });
                        /*$.ajax({
                    url: `http://localhost:3000/user/forgotpassword`,
                    type: `POST`,
                    dataType:'json',
                    success: function(result){
                        $.each(result.conclusion, function(i,res){
                            $('#success').text(res);
                            the_result = res;
                        });
                    }
                });*/
        //$('.submit').click(function(){
        /*$.ajax({
            url: 'http://localhost:3000/user/forgotpassword',
            method: 'POST',
            success: function(result){
                $('.success').text(result).css("color","green");
                console.log(result);
                the_result = result;
            },
            error: function(err){
                the_error = err;
                console.log('the error is in ajax:'+err);
            },
        });*/
        

            //console.log('the error is:'+the_error)
    </script>
    <!-- <script type="text/javascript">
    $(".submit").hide();
    $(".validate").click(function(){
        var newpassword = $("input[name='newpassword']").val();
        var againnewpassword = $("input[name='againnewpassword']").val();
        if(newpassword == againnewpassword){
            $(".submit").show();
        }
        else{
            $(".submit").hide();
            $('.warning').text('Wrong Password ... Try Again').css('color','red');
        }
    });
</script> -->
</body>

</html>