<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/register.css">
    <title>forgotpassword</title>
</head>
<body>
    <h1>Forgot Password? Try setting up a new one!!!</h1>
    <form class="passwordcheck" action="/user/forgotpassword" method="post">
        <div>
            <label for="email">email</label><br>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="newpassword">NewPassword</label><br>
            <input type="password" id="newpassword" name="newpassword" required>
        </div>
        <div>
            <label for="againnewpassword">Enter Again</label><br>
            <input type="password" id="againnewpassword" name="againnewpassword" required>
        </div>
        <% if(message){ %>
        <h3 class="warning"><%=message %></h3>
        <% } %>
		<button class="validate" type="button">Validate</button>
        <button class="submit" type="submit">Submit</button>
    </form>

<script type="text/javascript">
    $(".submit").hide();
    $(".validate").click(function(){
        var newpassword = $("input[name='newpassword']").val();
        var againnewpassword = $("input[name='againnewpassword']").val();
        if(newpassword == againnewpassword){
            $(".submit").show();
        }
        else{
            $(".submit").hide();
            $('.warning').text('Wrong Password ... Try Again').css('color','red');
        }
    });
</script>
</body>
</html>