<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/register.css">
    <title>Document</title>
</head>
<body>
    <h1>home</h1>
      <div>
        <p>Try Entering into Products</p>
        <a href="/products"><button type="button">Products</button></a>
      </div>
      <div>  
        <p>Try Entering into Products </p>
        <a href="/sellers"><button type="button">Sellers</button></a>
      </div>
      <div> 
        <p>Try Entering into Products </p>
        <a href="/categories"><button type="button">Categories</button></a>
      </div>
</body>
</html>