<!-- doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title login
  body 
    h1 Login Form
    form(action="/login")( method='POST')
        div
          label(for="email") Email
          input(type="email")(id="email")(name="email")(required)

        div 
          label(for="password") Password 
          input(type="password")(id="password")(name="password")(required)

        button(type="submit") Login

        if(message)
          h4 #{message}

    p New User? go to Register 
    a(href="/register")
      button(type="button") Register

    p Click here to go to Home page 
    a(href="/")
      button(type="button") Home
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
  </head>
  <body> 
    <h1>Login Form</h1>
    <form action="/login" method="POST">
      <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div> 
        <label for="password">Password </label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Login</button>
      <% if(message){ %>
      <h3><%=message %></h3>
      <% } %>
      <a href="/forgotpassword">forgot password</a>
    </form>
    <p>New User? go to Register </p>
    <a href="/register"><button type="button">Register</button></a>
    <p>Click here to go to Home page </p>
    <a href="/"><button type="button">Home</button></a>
  </body>
</html>