<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/register.css">
    <title>Register</title>
  </head>
  <body> 
    <h1>Registration Form </h1>
    <form action="/user/register" method="POST">
      <div> 
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div> 
        <label for="password">Password </label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="button">Register</button>
      <h3 id="err_msg"></h3>
    </form>
    <p>Already Registered? go to LOGIN </p><a href="/user/login">
      <button type="button">Login</button></a>
    <p>Click here to go to Home page </p><a href="/">
      <button type="button">Home</button></a>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#err_msg').hide();
      $('button').click(function(){
        var name = $("input[name='name']").val();
        var email = $("input[name='email']").val();
        var password = $("input[name='password']").val();
        $.ajax({
          url: '/user/register',
          type: "POST",
          data:{
            name: name,
            email: email,
            password: password
          },
          success: function(result){
            if(result.msg == 'success'){
              location.href = '/user/login';
            }
            else{
              $('#err_msg').show();
              $('#err_msg').text(result.msg).css("color","red");
            }
          }
        });
      });
    });
  </script>
  </body>
</html>