<h2>Select Shipment Details:</h2>
<form action="/shipment/getstates">
    <div class="form-group">
        <label for="country">State:</label>
        <select name="state" class="form-control" id="states-dropdown">
            <div id="stateslist">
            </div>
        </select>
    </div>
    <div class="form-group">
        <label for="state">City:</label>
        <select name="city" class="form-control" id="city-dropdown">
            <div id="citylist">
            </div>
        </select>
    </div>
    <button type="button">Submit</button>
</form>

<script type="text/javascript">
    $(document).ready(function(){
        $.ajax({
            url:'/shipment/getstates',
            type:'GET',
            dataType:'json',
            success:function(result){
                $('#states-dropdown').html(`<option value="">Select State</option>`);
                $.each(result.states,function(key,value){
                    $('#states-dropdown').append('<option value="'+value.city_state+'">'+value.city_state+'</option>');
                });
            }
        });
        $('#states-dropdown').on('change',function(){
            var state_name = this.value;
            $.ajax({
                url:'/shipment/getstates',
                type:'POST',
                data:{
                    state_name:state_name
                },
                dataType:'json',
                success:function(result){
                    $('#city-dropdown').html(`<option value="">Now Select City</option>`);
                    $.each(result.cities,function(key,value){
                        $('#city-dropdown').append('<option value="'+value.city_name+'">'+value.city_name+'</option>')
                    });
                }
            })
        });
    });
</script>
