<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Please Enter New Password</h1>
    <form action="/user/updatepassword" method="post">
        <div class="first">
            <label for="password">Enter New Password:</label>
            <input type="password" name="password" required>
        </div>
        <div class="second">
            <label for="againpassword">Enter it Again:</label>
            <input type="password" name="againpassword" required>
        </div>
        <p></p>
        <button class="validate" type="button">validate</button>
        <button class="confirm" type="submit">Confirm</button>
    </form>
    <h4 class="data"><%= message %></h4>
    <script>
        $('.confirm').hide();
        var mess = $('.data').text();
        if(mess){
            console.log('there is error');
            $('form').hide();
        }
        console.log(mess);
        $('h4').css('color','red');
        $('.validate').click(function(){
            var first = $("input[name = 'password']").val();
            var second = $("input[name = 'againpassword']").val();
            if(first == second){
                $('.validate').hide();
                $('.confirm').show();
            }
            else{
                $('p').text(`They are not Same...Try again`).css('color','red');
            }
        })
    </script>
</body>
</html>