<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Details</title>
</head>
<body>
    <h1><%= data[0]['seller_name'] %></h1>
    <h3>ProductID: <%= data[0]['productid'] %></h3>
    <a href="/sellers"><button type="button">Sellers</button></a>
</body>
</html>