<input type="text" id="inputtag" name="id" value="<%= id %>">
<div class="info">

</div>
<p class="text"></p>
<a href="/products"><button type="button">Products</button></a><br>
<a href="/sellers"><br><button class="sellers" type="button">Sellers</button></a>
<script type="text/javascript">
    $(document).ready(function () {
        var id = $("input[name='id']").val();
        $("input[name='id']").hide();
        $.ajax({
            url:'/products/viewproduct',
            type:'POST',
            dataType:'json',
            data:{
                productid:id
            },
            success:function(result){
                console.log(result);
                if(result.msg === 'success'){
                    $('.info').append(`
                    <h1>`+result.data[0].ProductName+`</h1><br><br>
                    <h3>Quantity Available: `+result.data[0].Unit+`</h3>
                    <h3>Price of each: `+result.data[0].Price+`</h3>
                    <h3>Category: `+result.categoryname[0].name+`</h3>
                    <h4>Available Sellers: </h4>
                    `);
                    $.each(result.sellerslist,function(key,value){
                        $('.info').append(`<p>`+value.seller_name+`</p>`);
                    });
                }
                else{
                    alert('Not a success attempt!!');
                }
            }
        });
        $('.sellers').hide();
        var sellers = $('h4').text();
        if (!sellers) {
            $('.text').text('No Sellers are Available for this Product....Try adding sellers in sellers page').css('color', 'red');
            console.log('No Sellers are Available fopr this Product!!');
            $('.sellers').show();
        }
        else if (sellers === undefined) {
            $('.text').text('No Sellers are Available for this Product....Try adding sellers in sellers page').css('color', 'red');
            console.log('No Sellers are Available fopr this Product!!');
            $('.sellers').show();
        }
        else {
            console.log('Available sellers is not empty:' + sellers + 'this');
        }
    });
</script>