th{
    padding: 10px;
    color: aliceblue;
    background-color: dimgray;
    text-align: center;
};

td{
    padding: 10px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
};

a,u{
    text-decoration: none !important;
};
