doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body 
    h1= title
    p Welcome to
    h1 Home
    div 
      p If you are an existing user, please click here 
      a(href="/login") 
        button(type="button") Login
    div 
      p If you are a new user, please click here 
      a(href="/register")
        button(type="button") Register    

